*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  max-width:1500px;
  margin:  0 auto;
}
.logo{
  display: flex;
}
.login{
  width: 100%;
  margin: auto 0;
  text-align: right;
}
/* .search{
  height: 20px;
  font-size: 12px;
} */

.adminn{
  margin-right: 30px;
}
.imgadmin{
  margin:0 10px 0 20px;
}
.login a{
  text-decoration: none;
}
.login1{
  border-right: 1px solid rgb(176, 175, 175);
  padding-right:6px;
  margin-right: 6px;
  font-size: 16px;
  font-family: "Helvetica Neue",Helvetica,Arial;
  color:black;
}
.nav{
  display: flex;
  justify-content: space-evenly;
  font-size:18px;
  font-family: "Helvetica Neue",Helvetica;
}
.mainn{
  margin-top: 20px;
}
.NavLink{
  text-decoration: none;
  color:black;
}
/* slide */
.slide img {
  width: 100%;
  height: 600px;
}

/* main */
.h2{
  text-align: center;
  padding: 20px 0;
}
.name a{
  text-decoration: none;
}
.spmoi{
  display: flex;
  gap: 20px;
  width: 100%;
}
.imgmoi{
  width: 25%;
  border: 1px solid #ccc;
  padding: 10px;
}
.imgmoi img{
  width: 100%;
}

/* footer */
.footer{
  color: white;
  padding: 30px;
  background-color: rgb(68, 67, 67);
  display : flex;
  justify-content: space-evenly;
  margin: 30px 0;
}
.footer1{
  width: 35%;
}
.footer2{
  width: 30%;
}
.footer2 img{
  width: 10%;
}
.footer2 img:first-child{
  margin-right: 20px;
}

.cate_list{
  display: flex;
  margin-top: 30px;
}
.cateadmin{
  width: 25%;
  margin-right: 30px;
}
.listadmin1{
  width: 100%;
}
.table{
  margin-top:20px;
}
.category{
  width: 20%;
  margin: 30px 30px 30px 0;
}
.active {
  font-size:20px
}
.btn-primaryy{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  padding: 5px 10px;
  border: none;
  border-radius:3px;
  margin-top: 20px;
}
.shop{
  display: flex;
}
.allSP{
  width: 100%;
  margin: 30px 0 0 0  ;
}
.spmoi_1{
  flex-wrap: wrap;
}
.imgmoi_1{
  width: 23.77%;
}
.Paginationn{
  margin: 30px 0 20px 0;
  float: right;
}